@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

version {
    font-size: 25pt;
    font-weight: bold;
    color: #b33d2f;
    display: block;
}

dateCreation  {
    font-size: 15pt;
    color: #0972ea;
    display: block;
}

derniereMaj {
    font-size: 10pt;
    color: #0f8e20;
    display: block;
}

